//main colors
$primary-color: #159957;
$secondary-color: #1e6bb8;
$site-nav-color: #252627;
$site-nav-color-fixed: rgba($site-nav-color, 0.80);

//typography
$header-text-color: rgb(30, 30, 30);
$body-text-color: rgb(97, 97, 97);
